In [23]:
# Data Analytics imports
import pandas as pd
import numpy as np

#Loading the CSV of the default dataset
df = pd.read_csv(r'C:\Users\mmorg\WGU\D210\CDC Data\demographic.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 47 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  int64
 1   SDDSRVYR  10175 non-null  int64
 2   RIDSTATR  10175 non-null  int64
 3   RIAGENDR  10175 non-null  int64
 4   RIDAGEYR  10175 non-null  int64
 5   RIDAGEMN  673 non-null    float64
 6   RIDRETH1  10175 non-null  int64
 7   RIDRETH3  10175 non-null  int64
 8   RIDEXMON  9813 non-null   float64
 9   RIDEXAGM  4213 non-null   float64
 10  DMQMILIZ  6261 non-null   float64
 11  DMQADFC   543 non-null    float64
 12  DMDBORN4  10175 non-null  int64
 13  DMDCITZN  10171 non-null  float64
 14  DMDYRSUS  1908 non-null   float64
 15  DMDEDUC3  2803 non-null   float64
 16  DMDEDUC2  5769 non-null   float64
 17  DMDMARTL  5769 non-null   float64
 18  RIDEXPRG  1309 non-null   float64
 19  SIALANG   10175 non-null  int64
 20  SIAPROXY  10174 non-null  float64
 21  SIAINTRP  10175 non-null  int64
 22  FIALANG   10054 non-null  float64
 23  FIAPROXY  10054 non-null  float64
 24  FIAINTRP  10054 non-null  float64
 25  MIALANG   7311 non-null   float64
 26  MIAPROXY  7312 non-null   float64
 27  MIAINTRP  7313 non-null   float64
 28  AIALANGA  6317 non-null   float64
 29  DMDHHSIZ  10175 non-null  int64
 30  DMDFMSIZ  10175 non-null  int64
 31  DMDHHSZA  10175 non-null  int64
 32  DMDHHSZB  10175 non-null  int64
 33  DMDHHSZE  10175 non-null  int64
 34  DMDHRGND  10175 non-null  int64
 35  DMDHRAGE  10175 non-null  int64
 36  DMDHRBR4  9878 non-null   float64
 37  DMDHREDU  9881 non-null   float64
 38  DMDHRMAR  10052 non-null  float64
 39  DMDHSEDU  5342 non-null   float64
 40  WTINT2YR  10175 non-null  float64
 41  WTMEC2YR  10175 non-null  float64
 42  SDMVPSU   10175 non-null  int64
 43  SDMVSTRA  10175 non-null  int64
 44  INDHHIN2  10042 non-null  float64
 45  INDFMIN2  10052 non-null  float64
 46  INDFMPIR  9390 non-null   float64
dtypes: float64(28), int64(19)
memory usage: 3.6 MB

In [24]:
#Detect null values
print(df.isnull().sum())

SEQN           0
SDDSRVYR       0
RIDSTATR       0
RIAGENDR       0
RIDAGEYR       0
RIDAGEMN    9502
RIDRETH1       0
RIDRETH3       0
RIDEXMON     362
RIDEXAGM    5962
DMQMILIZ    3914
DMQADFC     9632
DMDBORN4       0
DMDCITZN       4
DMDYRSUS    8267
DMDEDUC3    7372
DMDEDUC2    4406
DMDMARTL    4406
RIDEXPRG    8866
SIALANG        0
SIAPROXY       1
SIAINTRP       0
FIALANG      121
FIAPROXY     121
FIAINTRP     121
MIALANG     2864
MIAPROXY    2863
MIAINTRP    2862
AIALANGA    3858
DMDHHSIZ       0
DMDFMSIZ       0
DMDHHSZA       0
DMDHHSZB       0
DMDHHSZE       0
DMDHRGND       0
DMDHRAGE       0
DMDHRBR4     297
DMDHREDU     294
DMDHRMAR     123
DMDHSEDU    4833
WTINT2YR       0
WTMEC2YR       0
SDMVPSU        0
SDMVSTRA       0
INDHHIN2     133
INDFMIN2     123
INDFMPIR     785
dtype: int64

In [25]:
df = df.drop(df.loc[:, 'RIDAGEMN':'DMQADFC'].columns, axis=1)

In [26]:
df = df.drop(df.loc[:, 'DMDCITZN':'DMDEDUC2'].columns, axis=1)

In [27]:
df = df.drop(df.loc[:, 'RIDEXPRG':'AIALANGA'].columns, axis=1)

In [28]:
df = df.drop(df.loc[:, 'DMDHRBR4':'DMDHSEDU'].columns, axis=1)

In [29]:
df = df.drop(df.loc[:, 'INDHHIN2':'INDFMPIR'].columns, axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  int64
 1   SDDSRVYR  10175 non-null  int64
 2   RIDSTATR  10175 non-null  int64
 3   RIAGENDR  10175 non-null  int64
 4   RIDAGEYR  10175 non-null  int64
 5   DMDBORN4  10175 non-null  int64
 6   DMDMARTL  5769 non-null   float64
 7   DMDHHSIZ  10175 non-null  int64
 8   DMDFMSIZ  10175 non-null  int64
 9   DMDHHSZA  10175 non-null  int64
 10  DMDHHSZB  10175 non-null  int64
 11  DMDHHSZE  10175 non-null  int64
 12  DMDHRGND  10175 non-null  int64
 13  DMDHRAGE  10175 non-null  int64
 14  WTINT2YR  10175 non-null  float64
 15  WTMEC2YR  10175 non-null  float64
 16  SDMVPSU   10175 non-null  int64
 17  SDMVSTRA  10175 non-null  int64
dtypes: float64(3), int64(15)
memory usage: 1.4 MB

In [30]:
df = df.rename({'SEQN'    : 'Respondent_Sequence_Number', 
                'SDDSRVYR': 'Data_Release_Cycle', 
                'RIDSTATR': 'Int_Exam_Status',
                'RIAGENDR': 'Gender',
                'RIDAGEYR': 'Age_In_Years',
                'DMDBORN4': 'Birth_Country',
                'DMDMARTL': 'Marital_Status',
                'DMDHHSIZ': 'Total_Ppl_Household',
                'DMDFMSIZ': 'Total_Ppl_Fam',
                'DMDHHSZA': 'Cnt_child_under5',
                'DMDHHSZB': 'Cnt_child_6_17',
                'DMDHHSZE': 'Cnt_adult_60up',
                'DMDHRGND': 'Ref_Person_Gender',
                'DMDHRAGE': 'Ref_Person_Age_Yrs',
                'WTINT2YR': '2_yr_Interview_weight',
                'WTMEC2YR': '2_yr_MEC_Exam_Weight',
                'SDMVPSU' : 'Variance_Estimation',
                'SDMVSTRA': 'Stratum_Variable_Variance_est',
                           
}, axis ='columns')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Respondent_Sequence_Number     10175 non-null  int64
 1   Data_Release_Cycle             10175 non-null  int64
 2   Int_Exam_Status                10175 non-null  int64
 3   Gender                         10175 non-null  int64
 4   Age_In_Years                   10175 non-null  int64
 5   Birth_Country                  10175 non-null  int64
 6   Marital_Status                 5769 non-null   float64
 7   Total_Ppl_Household            10175 non-null  int64
 8   Total_Ppl_Fam                  10175 non-null  int64
 9   Cnt_child_under5               10175 non-null  int64
 10  Cnt_child_6_17                 10175 non-null  int64
 11  Cnt_adult_60up                 10175 non-null  int64
 12  Ref_Person_Gender              10175 non-null  int64
 13  Ref_Person_Age_Yrs             10175 non-null  int64
 14  2_yr_Interview_weight          10175 non-null  float64
 15  2_yr_MEC_Exam_Weight           10175 non-null  float64
 16  Variance_Estimation            10175 non-null  int64
 17  Stratum_Variable_Variance_est  10175 non-null  int64
dtypes: float64(3), int64(15)
memory usage: 1.4 MB

In [31]:
print('Gender: ', df.Gender.unique())
print('Birth_Country: ', df.Birth_Country.unique())
print('Marital_Status: ', df.Marital_Status.unique())

Gender:  [1 2]
Birth_Country:  [ 1  2 77 99]
Marital_Status:  [ 4.  1. nan  3.  2.  5.  6. 77. 99.]

In [32]:
df['Gender_named'] = df['Gender']
dict_gender = {"Gender_named": {1: "Male", 2: "Female"}}
df.replace(dict_gender, inplace=True)

df['Marital_named'] = df['Marital_Status']
dict_marital = {"Marital_named": {5: "Never_Married", 4: "Separated", 2 : "Widowed", 3 : "Divorced",  1 : "Married", 
                                   6 : "Live_With_Partner",  77 : "Refused",  99 : "Dont_know"}}
df.replace(dict_marital, inplace=True)

In [33]:
print('Gender: ', df.Gender_named.unique())
print('Marital_named: ', df.Marital_named.unique())

Gender:  ['Male' 'Female']
Marital_named:  ['Separated' 'Married' nan 'Divorced' 'Widowed' 'Never_Married'
 'Live_With_Partner' 'Refused' 'Dont_know']

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Respondent_Sequence_Number     10175 non-null  int64
 1   Data_Release_Cycle             10175 non-null  int64
 2   Int_Exam_Status                10175 non-null  int64
 3   Gender                         10175 non-null  int64
 4   Age_In_Years                   10175 non-null  int64
 5   Birth_Country                  10175 non-null  int64
 6   Marital_Status                 5769 non-null   float64
 7   Total_Ppl_Household            10175 non-null  int64
 8   Total_Ppl_Fam                  10175 non-null  int64
 9   Cnt_child_under5               10175 non-null  int64
 10  Cnt_child_6_17                 10175 non-null  int64
 11  Cnt_adult_60up                 10175 non-null  int64
 12  Ref_Person_Gender              10175 non-null  int64
 13  Ref_Person_Age_Yrs             10175 non-null  int64
 14  2_yr_Interview_weight          10175 non-null  float64
 15  2_yr_MEC_Exam_Weight           10175 non-null  float64
 16  Variance_Estimation            10175 non-null  int64
 17  Stratum_Variable_Variance_est  10175 non-null  int64
 18  Gender_named                   10175 non-null  object
 19  Marital_named                  5769 non-null   object
dtypes: float64(3), int64(15), object(2)
memory usage: 1.6+ MB

In [35]:
df["Total_Children"] = df["Cnt_child_under5"] + df["Cnt_child_6_17"]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Respondent_Sequence_Number     10175 non-null  int64
 1   Data_Release_Cycle             10175 non-null  int64
 2   Int_Exam_Status                10175 non-null  int64
 3   Gender                         10175 non-null  int64
 4   Age_In_Years                   10175 non-null  int64
 5   Birth_Country                  10175 non-null  int64
 6   Marital_Status                 5769 non-null   float64
 7   Total_Ppl_Household            10175 non-null  int64
 8   Total_Ppl_Fam                  10175 non-null  int64
 9   Cnt_child_under5               10175 non-null  int64
 10  Cnt_child_6_17                 10175 non-null  int64
 11  Cnt_adult_60up                 10175 non-null  int64
 12  Ref_Person_Gender              10175 non-null  int64
 13  Ref_Person_Age_Yrs             10175 non-null  int64
 14  2_yr_Interview_weight          10175 non-null  float64
 15  2_yr_MEC_Exam_Weight           10175 non-null  float64
 16  Variance_Estimation            10175 non-null  int64
 17  Stratum_Variable_Variance_est  10175 non-null  int64
 18  Gender_named                   10175 non-null  object
 19  Marital_named                  5769 non-null   object
 20  Total_Children                 10175 non-null  int64
dtypes: float64(3), int64(16), object(2)
memory usage: 1.6+ MB

In [37]:
# Provide a copy of the cleaned Data Set
df.to_csv(r'C:\Users\mmorg\WGU\D210\CDC Data\demographic_clean.csv')

0    3459
2    2193
1    1851
3    1615
4     701
5     259
6      76
7      21
Name: Total_Children, dtype: int64