In [82]:
# Data Analytics imports
import pandas as pd
import numpy as np

#Loading the CSV of the default dataset
df = pd.read_csv(r'C:\Users\mmorg\WGU\D210\CDC Data\questionnaire.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Columns: 953 entries, SEQN to WHQ520
dtypes: float64(944), int64(7), object(2)
memory usage: 74.0+ MB

In [83]:
#Detect null values
print(df.isnull().sum())

SEQN           0
ACD011A     4416
ACD011B    10159
ACD011C    10004
ACD040      7801
           ...
WHD140      4072
WHQ150      4155
WHQ030M     8697
WHQ500      8697
WHQ520      8697
Length: 953, dtype: int64

In [84]:
df = df[['SEQN', 'BPQ020', 'MCQ080', 'MCQ010', 'DIQ010', 'IND235']]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SEQN    10175 non-null  int64
 1   BPQ020  6464 non-null   float64
 2   MCQ080  6464 non-null   float64
 3   MCQ010  9769 non-null   float64
 4   DIQ010  9769 non-null   float64
 5   IND235  9806 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 477.1 KB

In [85]:
df = df.rename({'SEQN'    : 'Respondent_Sequence_Number', 
                'BPQ020'  : 'High_BP', 
                'MCQ080': 'Overweight',
                'MCQ010': 'Asthma',
                'DIQ010': 'Diabetes',
                'IND235': 'Monthly_Income',
}, axis ='columns')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Respondent_Sequence_Number  10175 non-null  int64
 1   High_BP                     6464 non-null   float64
 2   Overweight                  6464 non-null   float64
 3   Asthma                      9769 non-null   float64
 4   Diabetes                    9769 non-null   float64
 5   Monthly_Income              9806 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 477.1 KB

In [86]:
#Detect null values
print(df.isnull().sum())

Respondent_Sequence_Number       0
High_BP                       3711
Overweight                    3711
Asthma                         406
Diabetes                       406
Monthly_Income                 369
dtype: int64

In [49]:
df = df.dropna()

In [87]:
#Detect null values
print(df.isnull().sum())

Respondent_Sequence_Number       0
High_BP                       3711
Overweight                    3711
Asthma                         406
Diabetes                       406
Monthly_Income                 369
dtype: int64

In [88]:
# Provide a copy of the cleaned Data Set
df.to_csv(r'C:\Users\mmorg\WGU\D210\CDC Data\questionnaire_clean.csv')

In [89]:
df_demo = pd.read_csv(r'C:\Users\mmorg\WGU\D210\CDC Data\demographic.csv')

In [90]:
df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 47 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  int64
 1   SDDSRVYR  10175 non-null  int64
 2   RIDSTATR  10175 non-null  int64
 3   RIAGENDR  10175 non-null  int64
 4   RIDAGEYR  10175 non-null  int64
 5   RIDAGEMN  673 non-null    float64
 6   RIDRETH1  10175 non-null  int64
 7   RIDRETH3  10175 non-null  int64
 8   RIDEXMON  9813 non-null   float64
 9   RIDEXAGM  4213 non-null   float64
 10  DMQMILIZ  6261 non-null   float64
 11  DMQADFC   543 non-null    float64
 12  DMDBORN4  10175 non-null  int64
 13  DMDCITZN  10171 non-null  float64
 14  DMDYRSUS  1908 non-null   float64
 15  DMDEDUC3  2803 non-null   float64
 16  DMDEDUC2  5769 non-null   float64
 17  DMDMARTL  5769 non-null   float64
 18  RIDEXPRG  1309 non-null   float64
 19  SIALANG   10175 non-null  int64
 20  SIAPROXY  10174 non-null  float64
 21  SIAINTRP  10175 non-null  int64
 22  FIALANG   10054 non-null  float64
 23  FIAPROXY  10054 non-null  float64
 24  FIAINTRP  10054 non-null  float64
 25  MIALANG   7311 non-null   float64
 26  MIAPROXY  7312 non-null   float64
 27  MIAINTRP  7313 non-null   float64
 28  AIALANGA  6317 non-null   float64
 29  DMDHHSIZ  10175 non-null  int64
 30  DMDFMSIZ  10175 non-null  int64
 31  DMDHHSZA  10175 non-null  int64
 32  DMDHHSZB  10175 non-null  int64
 33  DMDHHSZE  10175 non-null  int64
 34  DMDHRGND  10175 non-null  int64
 35  DMDHRAGE  10175 non-null  int64
 36  DMDHRBR4  9878 non-null   float64
 37  DMDHREDU  9881 non-null   float64
 38  DMDHRMAR  10052 non-null  float64
 39  DMDHSEDU  5342 non-null   float64
 40  WTINT2YR  10175 non-null  float64
 41  WTMEC2YR  10175 non-null  float64
 42  SDMVPSU   10175 non-null  int64
 43  SDMVSTRA  10175 non-null  int64
 44  INDHHIN2  10042 non-null  float64
 45  INDFMIN2  10052 non-null  float64
 46  INDFMPIR  9390 non-null   float64
dtypes: float64(28), int64(19)
memory usage: 3.6 MB

In [92]:
#Detect null values
print(df_demo.isnull().sum())

SEQN           0
SDDSRVYR       0
RIDSTATR       0
RIAGENDR       0
RIDAGEYR       0
RIDAGEMN    9502
RIDRETH1       0
RIDRETH3       0
RIDEXMON     362
RIDEXAGM    5962
DMQMILIZ    3914
DMQADFC     9632
DMDBORN4       0
DMDCITZN       4
DMDYRSUS    8267
DMDEDUC3    7372
DMDEDUC2    4406
DMDMARTL    4406
RIDEXPRG    8866
SIALANG        0
SIAPROXY       1
SIAINTRP       0
FIALANG      121
FIAPROXY     121
FIAINTRP     121
MIALANG     2864
MIAPROXY    2863
MIAINTRP    2862
AIALANGA    3858
DMDHHSIZ       0
DMDFMSIZ       0
DMDHHSZA       0
DMDHHSZB       0
DMDHHSZE       0
DMDHRGND       0
DMDHRAGE       0
DMDHRBR4     297
DMDHREDU     294
DMDHRMAR     123
DMDHSEDU    4833
WTINT2YR       0
WTMEC2YR       0
SDMVPSU        0
SDMVSTRA       0
INDHHIN2     133
INDFMIN2     123
INDFMPIR     785
dtype: int64

In [93]:
df_demo = df_demo[['SEQN', 'SDDSRVYR', 'RIAGENDR', 'RIDAGEYR', 'DMDMARTL', 'DMDHHSIZ', 'DMDHHSZA', 'DMDHHSZB',]]

df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      10175 non-null  int64
 1   SDDSRVYR  10175 non-null  int64
 2   RIAGENDR  10175 non-null  int64
 3   RIDAGEYR  10175 non-null  int64
 4   DMDMARTL  5769 non-null   float64
 5   DMDHHSIZ  10175 non-null  int64
 6   DMDHHSZA  10175 non-null  int64
 7   DMDHHSZB  10175 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 636.1 KB

In [94]:
df_demo = df_demo.rename({'SEQN'    : 'Respondent_Sequence_Number', 
                'SDDSRVYR': 'Data_Release_Cycle',
                'RIAGENDR': 'Gender',
                'RIDAGEYR': 'Age_In_Years',
                'DMDMARTL': 'Marital_Status',
                'DMDHHSIZ': 'Total_Ppl_Household',
                'DMDHHSZA': 'Cnt_child_under5',
                'DMDHHSZB': 'Cnt_child_6_17',
                           
}, axis ='columns')

df_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10175 entries, 0 to 10174
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Respondent_Sequence_Number  10175 non-null  int64
 1   Data_Release_Cycle          10175 non-null  int64
 2   Gender                      10175 non-null  int64
 3   Age_In_Years                10175 non-null  int64
 4   Marital_Status              5769 non-null   float64
 5   Total_Ppl_Household         10175 non-null  int64
 6   Cnt_child_under5            10175 non-null  int64
 7   Cnt_child_6_17              10175 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 636.1 KB

In [95]:
nhanes_df = df.merge(df_demo, on = "Respondent_Sequence_Number")
nhanes_df.copy()
nhanes_df.head()

,Respondent_Sequence_Number,High_BP,Overweight,Asthma,Diabetes,Monthly_Income,Data_Release_Cycle,Gender,Age_In_Years,Marital_Status,Total_Ppl_Household,Cnt_child_under5,Cnt_child_6_17
0,73557,1.0,1.0,2.0,1.0,4.0,8,1,69,4.0,3,0,0
1,73558,1.0,2.0,1.0,1.0,5.0,8,1,54,1.0,4,0,2
2,73559,1.0,2.0,2.0,1.0,10.0,8,1,72,1.0,2,0,0
3,73560,NaN,NaN,2.0,2.0,9.0,8,1,9,NaN,4,0,2
4,73561,1.0,2.0,2.0,2.0,11.0,8,2,73,1.0,2,0,0

In [96]:
nhanes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10175 entries, 0 to 10174
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Respondent_Sequence_Number  10175 non-null  int64
 1   High_BP                     6464 non-null   float64
 2   Overweight                  6464 non-null   float64
 3   Asthma                      9769 non-null   float64
 4   Diabetes                    9769 non-null   float64
 5   Monthly_Income              9806 non-null   float64
 6   Data_Release_Cycle          10175 non-null  int64
 7   Gender                      10175 non-null  int64
 8   Age_In_Years                10175 non-null  int64
 9   Marital_Status              5769 non-null   float64
 10  Total_Ppl_Household         10175 non-null  int64
 11  Cnt_child_under5            10175 non-null  int64
 12  Cnt_child_6_17              10175 non-null  int64
dtypes: float64(6), int64(7)
memory usage: 1.1 MB

In [98]:
print('Gender: ', nhanes_df.Gender.unique())
print('Marital_Status: ', nhanes_df.Marital_Status.unique())

Gender:  [1 2]
Marital_Status:  [ 4.  1. nan  3.  2.  5.  6. 77. 99.]

In [99]:
nhanes_df['Gender_named'] = nhanes_df['Gender']
dict_gender = {"Gender_named": {1: "Male", 2: "Female"}}
nhanes_df.replace(dict_gender, inplace=True)

nhanes_df['Marital_named'] = nhanes_df['Marital_Status']
dict_marital = {"Marital_named": {5: "Never_Married", 4: "Separated", 2 : "Widowed", 3 : "Divorced",  1 : "Married", 
                                   6 : "Live_With_Partner",  77 : "Refused",  99 : "Dont_know"}}
nhanes_df.replace(dict_marital, inplace=True)

In [100]:
print('Gender: ', nhanes_df.Gender_named.unique())
print('Marital_named: ', nhanes_df.Marital_named.unique())

Gender:  ['Male' 'Female']
Marital_named:  ['Separated' 'Married' nan 'Divorced' 'Widowed' 'Never_Married'
 'Live_With_Partner' 'Refused' 'Dont_know']

In [101]:
nhanes_df["Total_Children"] = nhanes_df["Cnt_child_under5"] + nhanes_df["Cnt_child_6_17"]

In [105]:
#Detect null values
print(nhanes_df.isnull().sum())
nhanes_df.info()

Respondent_Sequence_Number       0
High_BP                       3711
Overweight                    3711
Asthma                         406
Diabetes                       406
Monthly_Income                 369
Data_Release_Cycle               0
Gender                           0
Age_In_Years                     0
Marital_Status                4406
Total_Ppl_Household              0
Cnt_child_under5                 0
Cnt_child_6_17                   0
Gender_named                     0
Marital_named                 4406
Total_Children                   0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10175 entries, 0 to 10174
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Respondent_Sequence_Number  10175 non-null  int64
 1   High_BP                     6464 non-null   float64
 2   Overweight                  6464 non-null   float64
 3   Asthma                      9769 non-null   float64
 4   Diabetes                    9769 non-null   float64
 5   Monthly_Income              9806 non-null   float64
 6   Data_Release_Cycle          10175 non-null  int64
 7   Gender                      10175 non-null  int64
 8   Age_In_Years                10175 non-null  int64
 9   Marital_Status              5769 non-null   float64
 10  Total_Ppl_Household         10175 non-null  int64
 11  Cnt_child_under5            10175 non-null  int64
 12  Cnt_child_6_17              10175 non-null  int64
 13  Gender_named                10175 non-null  object
 14  Marital_named               5769 non-null   object
 15  Total_Children              10175 non-null  int64
dtypes: float64(6), int64(8), object(2)
memory usage: 1.3+ MB

In [106]:
# Provide a copy of the cleaned Data Set
nhanes_df.to_csv(r'C:\Users\mmorg\WGU\D210\CDC Data\cdc_clean_final.csv')